@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "./assets/css/login.css";
@import "./assets/css/navbar.css";
@import "./assets/css/aside.css";
@import "./assets/css/task.css";

:root {
  color-scheme: light dark;

  --light-linear-text: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  --dark-linear-text: linear-gradient(90deg, rgba(30, 41, 59, 1) 0%, rgba(75, 85, 99, 1) 50%, rgba(156, 163, 175, 1) 100%);

  --light-primary: #4A6FA5;
  --dark-primary: #6B8CBE;

  --light-secondary: #6B8CBE;
  --dark-secondary: #8AAEE0;

  --light-background: #F8F9FA;
  --dark-background: #121212;

  --light-surface: #FFF;
  --dark-surface: #1E1E1E;

  --light-text: #333;
  --dark-text: #E0E0E0;

  --light-subtle-text: #6C757D;
  --dark-subtle-text: #A0A0A0;

  --light-success: #28A745;
  --dark-success: #48A868;

  --light-warning: #FFC107;
  --dark-warning: #FFD54F;

  --light-error: #DC3545;
  --dark-error: #E57373;

  --light-border: #E0E0E0;
  --dark-border: #333;

  --light-waiting: #6C757D;
  --dark-waiting: #A0A0A0;

  --light-inprogress: #FFC107;
  --dark-inprogress: #FFD54F;

  --light-test: #17A2B8;
  --dark-test: #4DD0E1;

  --light-done: #28A745;
  --dark-done: #48A868;

  --light-low: #6C757D;
  --dark-low: #A0A0A0;

  --light-medium: #17A2B8;
  --dark-medium: #4DD0E1;

  --light-high: #FFC107;
  --dark-high: #FFD54F;

  --light-critical: #DC3545;
  --dark-critical: #E57373;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.main {
  display: flex;
  padding: 0.5rem 0;
  gap: 1rem;
}

.container {
  background-color: light-dark(var(--light-surface), var(--dark-background)) !important;
}

aside {
  min-width: 13rem;
  max-width: 13rem;
  background-color: light-dark(var(--light-surface), var(--dark-surface));
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

section {
  flex-grow: 1;
}

details {
  width: 100%;
  cursor: pointer;
  margin-top: 0.3rem;
}



.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
