.input__label {
  color: light-dark(var(--light-text), var(--dark-text));
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.3rem;
}

.input__label.input__label--error {
  color: light-dark(var(--light-error), var(--dark-error));
  transition: color 0.2s;
}

.input__label__icon {
  width: 0.9rem;
  height: 0.9rem;
}

.input {
  background-color: light-dark(var(--light-background), var(--dark-background));
  padding: 0.3rem 0.92rem;
  margin-top: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid light-dark(var(--light-border), var(--dark-border)) !important;
  font-size: 0.8rem;
  transition: outline-color 0.2s, border-color 0.2s;
}

.input.input--error {
  /* outline: 1px solid light-dark(var(--light-error), var(--dark-error)) !important; */
  border-color: light-dark(var(--light-error), var(--dark-error)) !important;
}

.input::placeholder {
  color: light-dark(var(--light-subtle-text), var(--dark-subtle-text));
  font-size: 0.8rem;
}

.input:focus {
  outline: 1px solid light-dark(var(--light-border), var(--dark-border)) !important;
}

select {
  width: 90%;
  padding: 0.3rem 0.92rem;
  background-color: light-dark(var(--light-background), var(--dark-background));
  border: 1px solid light-dark(var(--light-border), var(--dark-border)) !important;
  border-radius: 0.3rem;
}

select.error {
  border: 1px solid light-dark(var(--light-error), var(--dark-error)) !important;
}

textarea {
  width: 90%;
}
