.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: light-dark(var(--light-background), var(--dark-surface));
  color: light-dark(var(--light-text), var(--dark-text));
}

.navbar__item {
  list-style: none;
}

.navbar__item:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar__link {
  text-decoration: none;
}

.brand__name::after {
  content: 'Task Master';
  font-size: 3rem;
  font-weight: 800;

  background: var(--light-linear-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.theme__switch__button {
  border: none;
  -webkit-animation: var(--slide-fwd-center);
  animation: var(--slide-fwd-center);
}

.theme__switch__button:hover {
  background: transparent;
}

.sun {
  box-shadow: 0 0 20px 10px #FFD700, 0 0 40px 20px #FFFACD;
  border-radius: 100%;
  color: #fffacd;
  background: #FFD700;
  border: none;

}

.moon {
  box-shadow: 0 0 15px 5px #B0C4DE, 0 0 30px 15px #E0E7EF;
  border-radius: 100%;
  border: none;
  color: #E0E7EF;
  background: #B0C4DE;
}
